@{
    ViewBag.Title = "Transportista - Pagina Inicio";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div id="detail_up" class="float-right"><img src="~/Images/deploy_chevronup.gif"/></div>
            <div id="detail_down" class="float-right"><img src="~/Images/deploy_chevrondown.gif"/></div>
            <hgroup class="title">
                <h1>@ViewBag.Title</h1><br/>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <div id="featured_detail">
                <p>
                    [Sección de encabezado]<br/>
                    ToDo: A decidir el diseño de esta sección
                </p>
            </div>
        </div>
    </section>
}
<h3>Resumen de ultimas actividades:</h3>
<ol class="round">
    <li class="one">
        <h5>Ultimo Albaran Procesado</h5>
        [Estadísticas van aquí]
    </li>

    <li class="two">
        <h5>Ultimos Siete Días</h5>
        [Estadísticas van aquí]
    </li>

    <li class="three">
        <h5>Ultimo Mes Estadísticas</h5>
        [Estadísticas van aquí]
    </li>
</ol>
@section scripts
{
    <script src="~/Scripts/feature-detail.js" type="text/javascript"></script>
}